In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import math

In [2]:
def prime(start=2, n=1):
    prime_list = []
    i = start
    flag = True
    if(i<2):
        i = 2
    while n > 0:
        for l in range(2,math.floor(math.sqrt(i) + 1)):
            if(i%l == 0):
                flag = False
                break
        if(flag):
            prime_list.append(i)
            n = n - 1
        i = i + 1
        flag = True
    return prime_list

In [3]:
print(prime(1,100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541]

### Question3

In [4]:
n = 10 ** 8
x = np.random.uniform(-1,1,n)
y = np.random.uniform(-1,1,n)
4*(np.sum(((x**2 + y**2)**0.5 <=1)) / n)

3.1415494